html,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans", sans-serif
};

#data-base {
    width: auto;
}

textarea,
default {
    height: 100%;
    width: 100%;
    background-color: transparent;
    resize: none;
    outline: none;
    border:0; 
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}