body {
    background: #5433FF;
    background: -webkit-linear-gradient(to right,#337aff, #20BDFF, #A5FECB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #337aff, #20BDFF, #A5FECB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mode-logo {
    margin: 100px auto 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-img {
    width: 130px;
    margin: 5px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-login {
    margin: 25px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_bg {
    background-color:#eee;
    padding: 10px;
    border-radius: 10px; 
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: auto;
}

.align-center,
span {
    font-size: 18px;
    text-align:center;
}

[class^="icon-btn"] /*.icon-btn*/ {
	height: 75px;
	width: 75px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 75px;
	transition: ease-in-out .3s;
	border-radius: 50px;
	margin-left: 10px;
	background-color: #fff;
}

.facebook {
	color: #3B5998;
}
.google-plus {
	color: #DB5A3C;
}

