<<<<<<< HEAD
footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
=======
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
>>>>>>> afbe8d546159836285e73dcc10bbdff7762db6be
